<ion-header>
  <ion-toolbar>
    <ion-title>Reportar Auto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reportarForm" (ngSubmit)="reportarAuto()">
    <ion-item>
      <ion-label>Patente</ion-label>
      <ion-input formControlName="patente" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input formControlName="descripcion" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>¿Eres el propietario?</ion-label>
      <ion-checkbox formControlName="esPropietario"></ion-checkbox>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!reportarForm.valid">Reportar</ion-button>
  </form>
</ion-content>
