<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón de atrás -->
    </ion-buttons>
    <ion-title>Reportar Auto Robado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="reportarAuto()">
    <ion-item>
      <ion-label position="floating">Patente</ion-label>
      <ion-input [(ngModel)]="nuevoAuto.patente" name="patente" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="nuevoAuto.descripcion" name="descripcion" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Reportar Auto Robado</ion-button>
  </form>
</ion-content>
