<ion-header>
  <ion-toolbar>
    <ion-title>Reportar Auto Robado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reporta tu auto robado de forma rápida y fácil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="reportarAuto()">
        <ion-item>
          <ion-label position="floating">Patente</ion-label>
          <ion-input [(ngModel)]="nuevoAuto.patente" name="patente" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input [(ngModel)]="nuevoAuto.descripcion" name="descripcion" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
          Reportar Auto Robado
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <p class="orientation-text">Permite que otros te ayuden a encontrarlo.</p>
</ion-content>
