<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="autosReportados.length === 0">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ user.email }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>No has reportado autos.</ion-card-content>
  </ion-card>

  <ion-card *ngFor="let auto of autosReportados">
    <ion-card-header>
      <ion-card-title>Auto Reportado: {{ auto.patente }}</ion-card-title>
      <p>Status: {{ auto.status }}</p>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción: {{ auto.descripcion }}</p>
      <p *ngIf="auto.direccion">Visto en: {{ auto.direccion }}</p>
      <ion-button *ngIf="auto.status === 'robado'" (click)="cambiarEstado(auto)">Marcar como Recuperado</ion-button>
      <h3>Notificaciones:</h3>
      <ion-list *ngIf="auto.notificaciones.length > 0">
        <ion-item *ngFor="let notificacion of auto.notificaciones">
          <p>{{ notificacion.mensaje }} - {{ notificacion.fecha | date:'short' }}</p>
        </ion-item>
      </ion-list>
      <ion-label *ngIf="auto.notificaciones.length === 0">No hay notificaciones.</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="eliminarAutos()">Eliminar todos los autos reportados</ion-button>
</ion-content>
