<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
    <img src="assets/img/logo.jfif" alt="CarFinder Logo" width="200" height="200">
    <h1>Bienvenido a CarFinder</h1>
    <p>Descubre y reporta autos robados en tiempo real.</p>
    <ion-button expand="full" routerLink="/login">Inicia Sesión</ion-button>
    <ion-button expand="full" routerLink="/registro">Regístrate</ion-button>
  </div>
</ion-content>
